:root {
  --bg: #99aab5;
  --detail: #2c2f33;
  --accent: white;
  --highlight: #fab325;
  --txt: #23272a;
  --bodyfont: "Roboto Slab", Times, serif;
  --headingfont: "Work Sans", Helvetica, sans-serif;
}

:root.dark-theme {
  --bg: #23272a;
  --detail: #99aab5;
  --accent: #2c2f33;
  --txt: white;
}
:root.serif-theme {
  --headingfont: "Roboto Slab", Times, serif;
  --bodyfont: "Work Sans", Helvetica, sans-serif;
}

@media print {
  @page {
    size: A4;
  }

  h1,
  h2,
  h3 {
    page-break-after: avoid;
    color: black !important;
    background-color: white !important;
  }

  p {
    color: black !important;
    background-color: white !important;
  }
  ul {
    color: black !important;
    background-color: white !important;
  }
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--bodyfont);
  background-color: var(--bg);
  color: var(--txt);
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: 0.5s background;
}

body > * {
  transition: 0.5s background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--highlight);
  font-family: var(--headingfont) !important;
}
button {
  border: 0;
  color: var(--txt);
  background-color: var(--accent);
  font-family: var(--headingfont);
  padding: 2.5%;
}
button:hover {
  background-color: var(--detail);
  color: var(--bg);
}

header {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin: 3% auto;
  text-align: center;
  font-size: 2.5rem;
  padding: 5%;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

footer {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

footer button {
  flex-grow: 1;
  color: var(--txt);
  background-color: var(--accent);
  margin: 5%;
  border-radius: 2vmax;
  transition: color 0.5s;
  transition: background 0.5s;
}

footer button:hover {
  background-color: var(--detail);
  color: var(--bg);
}

section {
  padding: 5%;
  height: auto;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  scroll-behavior: smooth;
}

.render {
  flex-direction: row;
}

#title {
  font-family: var(--headingfont);
  font-size: 1.25rem;
}

#search {
  align-self: flex-start;
  text-align: center;
  width: 100%;
  margin-top: 8%;
  flex-shrink: 0;
}

.note-display {
  flex-grow: 1;
  flex-basis: 0;
  padding: 3%;
  margin: 5%;
}

.note {
  background-color: var(--accent);
  border-bottom: 0.1vmax solid var(--detail);
}

.collapsible {
  background-color: var(--accent);
  color: var(--txt);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}

.time {
  font-size: 0.75rem;
}

.active,
.collapsible:hover {
  background-color: var(--txt);
  color: var(--bg);
}

.note_content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--bg);
}

#editor {
  min-height: 400px;
  padding: 2%;
  border-radius: 5vmax;
  background-color: var(--accent);
}

#editor h1,
#editor h2,
#editor h3 {
  color: var(--txt);
}

#editor > * {
  color: var(--txt);
}

.ql-editor.ql-blank::before {
  color: var(--txt);
}

.ql-viewer {
  max-width: 90%;
  overflow-wrap: normal;
  padding: 0;
  font-family: var(--bodyfont);
  margin: 0;
  margin-bottom: 5%;
}

.ql-viewer p,
.ql-viewer ol,
.ql-viewer ul,
.ql-viewer pre,
.ql-viewer blockquote,
.ql-viewer h1,
.ql-viewer h2,
.ql-viewer h3,
.ql-viewer h4,
.ql-viewer h5,
.ql-viewer h6 {
  margin: 0;
  padding: 0;
  color: var(--txt);
}

.ql-viewer .ql-size-small {
  font-size: 0.75rem;
}

.ql-viewer .ql-size-large {
  font-size: 1.5rem;
}

.ql-viewer .ql-size-huge {
  font-size: 2.5rem;
}

.ql-viewer .ql-direction-rtl {
  direction: rtl;
  text-align: inherit;
}

.ql-viewer .ql-align-center {
  text-align: center;
}

.ql-viewer .ql-align-justify {
  text-align: justify;
}

.ql-viewer .ql-align-right {
  text-align: right;
}

.ql-viewer blockquote {
  border-left: 4px solid #ccc;
  padding-left: 16px;
}

.ql-viewer code,
.ql-viewer pre {
  background-color: #f0f0f0;
  border-radius: 3px;
  padding: 6px 10px;
}

.ql-viewer ul > li[data-checked="true"]::before {
  content: "\2611";
}

.ql-viewer ul > li[data-checked="false"]::before {
  content: "\2610";
}

.ql-viewer ol > li,
.ql-viewer ul > li {
  list-style-type: none;
}

.ql-viewer ol {
  counter-reset: mylist;
}

.ql-viewer ol > li:before {
  counter-increment: mylist;
  content: counter(mylist, decimal) ". ";
}

.ql-viewer ol ol > li:before {
  content: counter(mylist, lower-alpha) ". ";
}

.ql-viewer ol ol ol > li:before {
  content: counter(mylist, lower-roman) ". ";
}

.ql-viewer ol ol ol ol > li:before {
  content: counter(mylist, decimal) ". ";
}

.ql-viewer ol ol ol ol ol > li:before {
  content: counter(mylist, lower-alpha) ". ";
}

.ql-viewer ol ol ol ol ol ol > li:before {
  content: counter(mylist, lower-roman) ". ";
}

.ql-viewer ol ol ol ol ol ol ol > li:before {
  content: counter(mylist, decimal) ". ";
}

.ql-viewer ol ol ol ol ol ol ol ol > li:before {
  content: counter(mylist, lower-alpha) ". ";
}

.ql-viewer ol ol ol ol ol ol ol ol ol > li:before {
  content: counter(mylist, lower-roman) ". ";
}

/* ql indent */
.ql-viewer .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}

.ql-viewer .ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}

.ql-viewer .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em;
}

.ql-viewer .ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}

.ql-viewer .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em;
}

.ql-viewer .ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}

.ql-viewer .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em;
}

.ql-viewer .ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 12em;
}

.ql-viewer .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em;
}

.ql-viewer .ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 15em;
}

.ql-viewer .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em;
}

.ql-viewer .ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 18em;
}

.ql-viewer .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em;
}

.ql-viewer .ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 21em;
}

.ql-viewer .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em;
}

.ql-viewer .ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 24em;
}

.ql-viewer .ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 27em;
}

.ql-viewer .ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 27em;
}

/* video */
.ql-viewer .ql-video {
  display: block;
  max-width: 100%;
}

.ql-viewer .ql-video.ql-align-center {
  margin: 0 auto;
}

.ql-viewer .ql-video.ql-align-right {
  margin: 0 0 0 auto;
}
#modal {
    position: fixed;
    font-family: var(--headingfont);
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}
.modalconent {
    position: absolute;
    font-family: var(--bodyfont);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg);
    width: 90%;
    height: 70%;
    padding: 20px;
    color: var(--txt);
}